body {
 background: linear-gradient(to bottom, #00bfff 0%, #1e90ff 100%);
 animation: background 10s ease-in-out infinite alternate;
}

@keyframes background {
 0% {
 background: linear-gradient(to bottom, #00bfff 0%, #1e90ff 100%);
 }
 25% {
 background: linear-gradient(to bottom, #1e90ff 0%, #ff8c00 100%);
 }
 50% {
 background: linear-gradient(to bottom, #ff8c00 0%, #ff69b4 100%);
 }
 75% {
 background: linear-gradient(to bottom, #ff69b4 0%, #8f00ff 100%);
 }
 100% {
 background: linear-gradient(to bottom, #8f00ff 0%, #00bfff 100%);
 }
}
